In [1]:
import pandas as pd
df = pd.read_csv("baroko_half_marathon.csv")
df = df[["Jméno závodníka", "Ročník", "FINISH", "Rok závodu"]]
df = df.rename(columns={"Jméno závodníka": "Jmeno", "Ročník": "Rocnik", "FINISH": "Cas", "Rok závodu": "Rok zavodu"})
df.to_csv("half_marathon.csv", index=False)
df.head()

           Jmeno  Rocnik       Cas  Rok zavodu
0   Eisner Tomáš    1987  01:21:25        2019
1  Hofhans Tomáš    1985  01:27:43        2019
2        Krs Jan    1975  01:28:23        2019
3      Kasal Jan    1985  01:29:09        2019
4  Bryan Lauwers    1986  01:30:18        2019

In [2]:
import pandas as pd
df = pd.read_csv("half_marathon.csv")
df.head()

           Jmeno  Rocnik       Cas  Rok zavodu
0   Eisner Tomáš    1987  01:21:25        2019
1  Hofhans Tomáš    1985  01:27:43        2019
2        Krs Jan    1975  01:28:23        2019
3      Kasal Jan    1985  01:29:09        2019
4  Bryan Lauwers    1986  01:30:18        2019

In [3]:
df = df.sort_values(["Jmeno", "Rocnik", "Rok zavodu"])
df["Cas"] = pd.to_datetime(df["Cas"])
df["Cas 2020"] = df.groupby(["Jmeno", "Rocnik"])["Cas"].shift(-1)
df.to_csv("half_marathon_hint_1.csv", index=False)
df = df.dropna()
df["Zmena"] = df["Cas 2020"] - df["Cas"]
df.to_csv("half_marathon_hint_2.csv", index=False)
df["Zmena"] = df["Zmena"].dt.total_seconds()
df.to_csv("half_marathon_hint_3.csv", index=False)
df["Zmena"].mean()

C:\Users\jiri.pesik.HULD\AppData\Local\Temp\ipykernel_26908\4242616385.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Cas"] = pd.to_datetime(df["Cas"])

572.4193548387096

In [4]:
# Bonus
df["Zmena Text"] = pd.cut(df["Zmena"], bins=[float("-inf"), 0 , float("inf")], labels=["zlepsil se", "zhorsil se"])
df

,Jmeno,Rocnik,Cas,Rok zavodu,Cas 2020,Zmena,Zmena Text
76,Aster Vladimír,1965,2023-10-05 01:53:25,2019,2023-10-05 02:00:19,414.0,zhorsil se
231,Asterová Jana,1974,2023-10-05 02:16:59,2019,2023-10-05 02:30:01,782.0,zhorsil se
101,Baborová Anna,1990,2023-10-05 01:58:20,2019,2023-10-05 01:52:25,-355.0,zlepsil se
132,Bambas Jan,1975,2023-10-05 02:02:59,2019,2023-10-05 02:35:39,1960.0,zhorsil se
324,Barochovská Andrea,1976,2023-10-05 03:01:25,2019,2023-10-05 02:50:05,-680.0,zlepsil se
...,...,...,...,...,...,...,...
30,Šulcová Jitka,1974,2023-10-05 01:43:12,2019,2023-10-05 01:59:07,955.0,zhorsil se
278,Švarcová Petra,1974,2023-10-05 02:27:45,2019,2023-10-05 02:50:01,1336.0,zhorsil se
82,Švelch Rosťa,1966,2023-10-05 01:54:58,2019,2023-10-05 01:55:11,13.0,zhorsil se
318,Žitková Jana,1974,2023-10-05 02:45:54,2019,2023-10-05 02:42:48,-186.0,zlepsil se
140,Žákovec Pavel,1966,2023-10-05 02:03:36,2019,2023-10-05 02:07:37,241.0,zhorsil se